administrator/cache/*
administrator/components/*
administrator/help/*
administrator/includes/*
administrator/language/*
administrator/logs/*
administrator/manifests/*
administrator/modules/*
administrator/templates/*
!administrator/components/com_compname

bin/*
cache/*
cli/*
includes/*
language/*
libraries/*
media/*
plugins/*
tmp/*

!components/com_compname

configuration.php
htaccess.txt
LICENSE.txt
robots.txt
web.config.txt
README.txt