html,
body {
	width: auto !important;
	overflow-x: hidden !important
}

body {
	background: #FCFCFC;
}

h1,
h2,
h3,
h4,
#camera_wrap_95 .camera_caption div.camera_caption_desc,
#camera_wrap_109 .camera_caption > div,
.sub-heading {
	font-family: 'Montserrat', sans-serif !important;
}

p,
a,
li,
#camera_wrap_95 .camera_caption div.camera_caption_title {
	font-family: 'Muli', sans-serif !important;
}

body h1 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

.sub-heading {
	font-size: 1.5rem;
	opacity: .8;
}

h3 {
	color: #2d2d2d;
}

h2 { font-size: 2rem; }

h2 a {
	text-decoration: none
}


.moduletable h3,
.items-leading h2,
.items-row h2 {
	border-bottom: solid 1px #ddd;
}

.items-row h2 { border-top: solid 1px #ddd; }

a:link,
a:visited { color: #095197 }

.separator-left { text-align: left !important; }

.separator-left::before,
.separator-left::after {
	display: table;
	content: ' ';
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}

.separator-left::after {
	clear: both;
}

.separator-left::after {
	position: relative !important;
	width: 3rem;
	border-bottom: 0.125rem solid #2b71ab;
	margin: 1rem auto 0;
	margin-left: 0 !important;
}

.logoheader,
#camera_wrap_109 .camera_caption > div,
#camera_wrap_109 .camera_caption_desc a.button,
#header ul.menu a:link,
#header ul.menu a:visited,
#menuopener,
table th,
#footer,
#footer a {color: #FCFCFC;}

#camera_wrap_109 .cameraContent, 
#line,
#footer { text-align: center; }


.logoheader { z-index: 1; }

#camera_wrap_109 {
	background: black;
	margin: 0 0 4em 0;	
}

#camera_wrap_109 img { opacity: .7; }



#camera_wrap_109 .cameraContent.cameracurrent,
#camera_wrap_95 .cameraContent.cameracurrent {display: flex!important;}


#camera_wrap_109 .camera_caption > div div.camera_caption_title {
	margin-bottom: 1em;
	letter-spacing: .25rem;
	font-size: 2em;
}



#camera_wrap_109 .camera_caption_desc a.button {
	padding: .5rem 1rem;
	font-size: 1.5em;
	letter-spacing: initial;
	align-self: center;
	width: fit-content;
	background: transparent!important;
	text-transform: uppercase;
	transition: all .3s ease;
}

#camera_wrap_109 .camera_caption_desc a.button:hover {
	transition: all .3s ease;
	background: rgba(252, 252, 252, .7)!important;
	color: #555;
}

#all {
	background: #FCFCFC;
	color: #2d2d2d;
}


#header ul.menu {
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
}

#header ul.menu a:link,
#footer ul.menu a:link {
	transition: all .3s linear;
}

#header ul.menu a:link,
#header ul.menu a:visited {
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
	padding: 0px 10px;
	margin: 0;
	display: inline-block;
	margin: 0 0 0;
	padding: 12px 15px;
	position: relative;

}

#camera_wrap_95 .camera_caption > div div.camera_caption_title {
	font-size: 1.8rem!important;
    line-height: 1.3em;
}

#camera_wrap_95 .camera_caption > div div.camera_caption_desc {
	font-size: 1.5rem!important;
}



#landingAbout {
	display: flex;
    flex-wrap: wrap;
}


/*  grey background */
.button,
#camera_wrap_95 .camera_caption .button,
button,
p.readmore a,
#header input.button,
.pagenav a:link,
.pagenav a:visited,
#advanced-search-toggle,
.profile-edit a:link,
.profile-edit a:visited,
h3.js_heading {
	background-color: #FCFCFC;
	-webkit-font-smoothing: antialiased;
	color: #095197;
	border: solid 1px #ddd!important;
}

#menuopener {
	margin-left: .25rem;
	margin-right: .25rem;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 16px;
	cursor: pointer;
}

#menuopener span {
	display: none;
}

#menuopener::after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 2px;
	background: #fefefe;
	box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
	content: '';
}

#menuopener:hover::after {
	background: #cacaca;
	box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca;
}

#submit {
	border: 1px solid #00335e;
	background: #00335e;
	color: #FCFCFC !important;
	display: inline-block;
	padding: 15px 40px;
	border-radius: 4px;
	font-size: 16px;
	text-transform: uppercase;
}

#submit:hover { opacity: .8; }

.list-inline {
	display: inline-flex !important;
	justify-content: space-around;
}

.list-inline ul,
.property-list ul,
.blog-list ul {
	list-style-type: none;
}

#welcomePhoto {
	float: left;
    margin-right: 1em;
    width: 25em;
    height: auto;
}

.camera_caption>div {
	background: transparent;
	color: #444;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slideshowck .cameraContent {
	display: flex;
	justify-content: center;
	align-items: center;
}

.camera_caption {
	justify-content: center;
	align-items: center;
	position: relative !important;
}

#camera_wrap_109 .camera_caption > div {background-color: transparent;}

.property-list .field-label,
.property-list .newsflash-image,
.property-list .property-description,
.property-list .property-title,
.sale-price,
.blog-list .blog-text,
.property-list .showtime .showtime-image {display: none;}

.property-list .showtime .showtime-image:first-child {display: block;}

#menuopener::after,
.list-inline,
.property-list .img-gallery,
.property-list .showtime-image,
.property-list .showtime-image img,
.blog-list img,
.showtime-image:first-child a {width: 100%;}

.property-list dl.fields-container .showtime-default .showtime-image {margin-right: 0;}
.property-list .showtime-image img {
	border: 0;
	height: auto;
}
.property-list .showtime-image img:hover,
.blog-list img:hover {transform: scale(1.1);}

.showtime-image:first-child,
.img-gallery .showtime-image:first-child {flex-basis: 100%;}

.showtime-image:first-child ,
.showtime-image:first-child a,
.img-gallery .showtime-image:first-child,
.img-gallery .showtime-image:first-child a {margin: 0;}

.property-list .showtime-image img,
.blog-list img {
	-webkit-transition: all 2s cubic-bezier(.19, 1, .22, 1) 0ms;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	transition: all 2s cubic-bezier(.19, 1, .22, 1) 0ms;
}

.property-list .field-entry,
.blog-list .field-entry,
.property-list dl.fields-container .showtime-default .showtime-image {overflow: hidden;}

.property-list ul,
.blog-list ul {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.blog-list ul {
	align-items: flex-start;
}

.property-list li,
.blog-list li {
	flex: 0 0 30%;
	margin: 1rem;
}

.blog-list li {
	display: flex;
	flex-direction: column-reverse;
}

.property-list .mod-list li,
.blog-list.mod-list li {
	border: 1px solid #eee;
	transform: translateZ(0);
	transition: all 2s cubic-bezier(.19, 1, .22, 1) 0ms;
	font-size: 1rem;

}

.property-list .mod-list h4,
.blog-list .mod-list h4 {
	margin-bottom: 1rem;
	padding: .5rem;
}

.property-list .mod-list li:hover {
	border: 1px solid #00335e;
}

.property-list .mod-list li:hover,
.blog-list .mod-list li:hover {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

#userForm a {
	text-decoration: none;
}

a:hover {
	color: #095197;
	opacity: .8;
}

.property-list .fields-container,
.blog-list .fields-container {
	margin: 0;
	display: inline-flex;
	flex-wrap: wrap;
}

.icon {
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	vertical-align: baseline;
}


.property-address span::before { 
	font-weight: 900;
	content: "\f3c5";
	padding: 0 .3rem 0 .5rem;
	
}

.property-address span::before { 
	font-weight: 900;
	content: "\f3c5";
	padding: 0 .3rem 0 .5rem;
}

.property-type span::before { 
	font-weight: 900;
	content: "\f015";
	padding: 0 .3rem 0 .5rem;
}

.bedrooms span::before { 
	font-weight: 900;
	content: "\f236";
	padding: 0 .3rem 0 .5rem;
}

.bathrooms span::before { 
	font-weight: 900;
	content: "\f2cd";
	padding: 0 .3rem 0 .5rem;
}

.cars span::before { 
	font-weight: 900;
	content: "\f1b9";
	padding: 0 .3rem 0 .5rem;
}

.rent-price span::before {
	content: "$";
	padding: 0 0 0 .5rem;
}

.rent-price span::after {
	content: "/week";
}

.related-properties .showtime-image:not(:first-child),
.related-properties .property-description,
.related-properties .rent-price { display: none; }

.related-properties h3 { margin-bottom: 1em; }

#facebook {
	color: #3C5A99;
}

#linkedin { color: #0077B5; 	}

#map {
	margin-bottom: 1rem;
	filter: grayscale(45%);
}

#map iframe {margin-top: -3em;}

.padding-left-0 { padding-left: 0; }


#camera_wrap_109 .cameraContent  {
	width: 100%;
	margin-left: auto;
	justify-content: center;
	align-items: center;
}

#testimonials .cameraContents {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}


#camera_wrap_95 .camera_caption>div div.camera_caption_title { margin-bottom: 1em; }

.property-details .icon,
.related-properties .icon { text-align: left; }
.property-details .icon span::before,
.related-properties .icon span::before { padding-left: 0; }


/* blue background */
.button:hover,
.button:active,
.button:focus,
button:hover,
p.readmore a:hover,
#header ul.menu a:hover,
#header ul.menu a:active,
#header ul.menu a:focus,
#footer ul.menu a:hover,
#footer ul.menu a:active,
#footer ul.menu a:focus,
.pagenav a:hover,
.pagenav a:active,
.pagenav a:focus,
#advanced-search-toggle:hover,
#advanced-search-toggle:active,
#advanced-search-toggle:focus,
.profile-edit a:hover,
.profile-edit a:active,
.profile-edit a:focus,
#fontsize a:hover,
#fontsize a:active,
#fontsize a:focus {
	color: #00335e;
	-webkit-font-smoothing: antialiased;

}

/* +++++++++++++++++  Pagination +++++++++++++++ */
.pagination span,
.pagination span a:hover {
	color: #999999;
	background-color: #f5f5f5;
}

/* active item */
span.pagenav {
	background: #095197;
	color: #FCFCFC
}

.pagination-start span.pagenav,
.pagination-prev span.pagenav,
.pagination-end span.pagenav,
.pagination-next span.pagenav {
	background-color: #f5f5f5;
	color: #444
}

/* +++++++++++++++++  content  +++++++++++++++ */
.article-info {
	background-color: #fbfbfb;
	border: 1px solid #ddd;

}

ul.menu a:link,
ul.menu a:visited {
	color: #444;
}

dl {
    margin-left: auto;
    margin-right: auto;
    width: 60%;   
    display: flex;
    flex-wrap: wrap; 
}

/* ++++++++++++++++++++++  menu ++++++++++++++++++++++++++  */
.moduletable_menu {
	border: solid 1px #ddd;
	background: #f9f9f9;
}



#header ul.menu a {
	box-shadow: none;
	border-bottom: 0
}



/* ++++++++++++++++   highlightning active menuitem  +++++++++++++++++++ */
ul.menu li.active a,
ul.menu li.active ul li.active a,
ul.menu li.active ul li.active ul li.active a,
ul.menu li.active ul li.active ul li.active ul li.active a,
ul.menu li.active ul li.active ul li.active ul li.active ul li.active a {
	font-weight: bold;
}

ul.menu li.active ul li a,
ul.menu li.active ul li.active ul li a,
ul.menu li.active ul li.active ul li.active ul li a,
ul.menu li.active ul li.active ul li.active ul li.active ul li a {
	font-weight: normal
}



ul.menu ul a {
	margin-bottom: 1px
}



/* +++++++++++++++++++++++  SLIDER  ++++++++++++++++++++  */
.panel h3.pane-toggler a {
	background: url(../images/slider_plus.png) right top no-repeat;
	color: #333
}

.panel h3.pane-toggler-down a {
	background: url(../images/slider_minus.png) right top no-repeat;
	border-bottom: solid 1px #ddd;
	color: #333
}

#footer {
	background: #7f7f7f;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#footer a,
#bottom a {background: none;}


.box1 {
	border-right: solid 1px #ccc
}

.box3 {
	border-left: solid 1px #ccc
}

section .block-wrapper ul,
#bottom ul li a {padding-left: 0}

#bottom ul li a {background-image: none;}


section .block-wrapper ul {margin-left: 0;}





section figure {
	margin-left: auto;
	margin-right: auto;
}

section figure img {height: auto;}


#right-col {flex-basis: 100%;}

.property-list .mod-list { justify-content: flex-start; }


/* responsive */
#menuwrapper { display: none; }
#mobile_select { display: block!important; }


#mobile_select h2 {
	border: 0;
	padding: 0;
	text-align: right;
	margin: 0;
}

#mobile_select h2 a {
	display: inline-block;
	font-size: 0.8em;
	font-size: 0.75em;

}

@media only screen and (orientation: portrait) {

	
	#camera_wrap_109 .camera_caption > div div.camera_caption_title {font-size: 1.5em;}
	#camera_wrap_109 .camera_caption_desc a.button {font-size: 1em;}

	.property-details .rent-price { text-align: left;}
	.property-details .rent-price span::before { padding-left: 0; }

	.related-properties h3,
	#footer {
		width: 85%;
		margin: 0 auto 1em auto;
	}	

	
}


@media only screen and (max-width: 600px) {
	/* Small screens */	
	
	img {
		max-width: 100%;
		height: auto;
		border: 0;
	}


	#fontsize,
	#line {
		display: none
	}

	#nav,
	#wrapper2,
	#wrapper,
	.cols-3 .column-1,
	.cols-3 .column-2,
	.cols-3 .column-3,
	#right,
	.box,
	#header form {
		float: none;
		width: 100%
	}

	#header form,
	#line
	 {
		margin: 0
	}

	.logoheader {
		margin: 0
	}

	.box {
		border-left: 0 !important;
		border-bottom: solid 1px #ddd;
	}

	#line {
		top: 0;
		right: auto;
		max-width: 100%;
		min-width: 100%;
		background: #095197;
	}

	#header form input {
		float: none;
		margin-bottom: 4px
	}

	#menuwrapper {
		margin-top: 10px;
	}


	#header ul.menu li a:link,
	#header ul.menu li a:visited {
		display: block;
		padding: 6px 10px;

	}

	#logo img {width: 30%;}


	body h1 {font-size: 2rem;}
	body h2 {font-size: 1.5rem;}
	.sub-heading {font-size: 1.2rem;}

	#welcomePhoto {
		margin-right: 0;
		margin-bottom: 1em;
	}

	#testimonials h3 {margin-bottom: 0;}
	#testimonials .cameraContents {width: 100%;}

	#camera_wrap_95 .camera_caption > div div.camera_caption_title {font-size: 1.1em!important;}
	#camera_wrap_95 .camera_caption > div div.camera_caption_desc {font-size: .9em!important;}

	.property-details dd.property-address,
	.property-details dd.property-type,
	.related-properties dd.property-address,
	.related-properties dd.property-type { flex-basis: 50%; }

	#footer, #footer ul { font-size: .8em; }	


	#menuNav {
		right: 0;
	}

	#menuwrapper {
		padding: 1rem;
		flex-basis: 100%;		
	}

	#menu-wrapper {
		align-items: center;
		padding: .5rem 0;
	}

	#menu-wrapper,
	#menuwrapper,
	#footer {
		width: 100%;
	}

	.camera_fakehover {
		font-size: 1rem;
	}

	.blog-list ul.mod-list, 
	#team, 
	.property-list .mod-list,
	#footer { flex-direction: column; }

	#team .team-box, #footer ul {
		margin-bottom: 1rem;
	}

	section.dark {
		padding: 1rem 1rem 0 1rem;
	}

	section .block-wrapper,
	dl.fields-container, #team { width: 85%; }

	#top {
		position: relative;
		top: 3em;
	}

	section .block-wrapper .list-inline {
		font-size: .7rem;
	}

	dl.fields-container dd.property-type {
		flex-basis: 40%;
	}

	dl.fields-container dd.bedrooms,
	dl.fields-container dd.bathrooms,
	dl.fields-container dd.cars {
		flex-basis: 29%;
	}

	dl.fields-container dd.rent-price {
		flex-basis: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.img-gallery .showtime-image {
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: 30%;
	}

	#main .row {
		padding: 0 .5rem 0 .5rem;
	}

	#main .columns {
		padding-left: 0.9375rem;
	}

	#main .columns p,
	#main .columns a,
	#trading {
		padding: 0 .9375rem 0 .9375rem;
	}

	#main .columns #social a {
		padding: 0;
	}

}


@media only screen and (min-width: 600px) {
	#logo img {
		width: 40%;
	}

	#menuNav {
		right: 0;
	}

	#menuwrapper {
		padding: 1rem;
	}

	#menu-wrapper {
		align-items: center;
	}

	#menu-wrapper,
	#menuwrapper,
	#footer {
		width: 100%;
	}

	.camera_fakehover {
		font-size: 1rem;
	}

	

	.blog-list ul.mod-list,
	#footer {
		flex-direction: column;
	}

	#footer ul {
		margin-bottom: 1rem;
	}

	section.dark {
		padding: 1rem 1rem 0 1rem;
	}

	#team,
	.property-list .mod-list {
		flex-direction: column;
	}

	#team,
	section .block-wrapper,
	dl.fields-container {
		width: 85%;
	}

	#team .team-box {
		margin-bottom: 1rem;
	}

	section .block-wrapper .list-inline ul {font-size: .7em;}
	

	dl.fields-container dd.property-type {
		flex-basis: 40%;
	}

	dl.fields-container dd.bedrooms,
	dl.fields-container dd.bathrooms,
	dl.fields-container dd.cars {
		flex-basis: 29%;
	}

	dl.fields-container dd.rent-price {
		flex-basis: 100%;
		margin-bottom: 1rem;
	}

	.img-gallery .showtime-image {
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: 30%;
	}

	#main .row {
		padding: 0 .5rem 0 .5rem;
	}

	#main .columns {
		padding-left: 0.9375rem;
	}

	#main .columns p,
	#main .columns a,
	#trading {
		padding: 0 .9375rem 0 .9375rem;
	}

	#main .columns #social a {
		padding: 0;
	}
} 

@media only screen and (min-width: 768px) {
	
	#menu-wrapper {
		align-items: center;
		width: 80%;
		padding: .5rem;
	}

	#logo img {width:35%;}

	#left-col {flex-basis: 70%!important;}
	#right-col {
		flex-basis: 25%!important;
		margin-top: 0!important;
		margin-left: 1em;
	}	

	.property-list .mod-list {
		flex-direction: row;
	}
	.property-list .mod-list li,
	dl.fields-container dd.property-type {flex-basis: 40%;}
	.property-list .mod-list li * {font-size: .7rem;}

	.img-gallery .showtime-image {
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: 23%;
	}

	dl.fields-container dd.bedrooms,
	dl.fields-container dd.bathrooms,
	dl.fields-container dd.cars {flex-basis: 29%;}

	dl.fields-container dd.rent-price {
		flex-basis: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	#main .row {
		padding: 0 .5rem 0 .5rem;
	}

	#main .columns {
		padding-left: 0.9375rem;
	}

	#main .columns p,
	#main .columns a,
	#trading {
		padding: 0 .9375rem 0 .9375rem;
	}

	#main .columns #social a { padding: 0; }

	.related-properties h3 { width: 100%!important; }

	.property-details dd.property-address,
	.property-details dd.property-type,
	.related-properties dd.property-address,
	.related-properties dd.property-type { flex-basis: 50%; }

	.related-properties dd.property-title { font-size: 1rem; }
	.related-properties dd.icon { font-size: .7rem;}
}

@media only screen and (min-width: 992px) {

	#left-col {flex-basis: 70%!important;}

	.property-details dd.property-address,
	.property-details dd.property-type { flex-basis: 30%; }
}

@media only screen and (min-width: 1382px) {
	/* Styles */

	#menu-wrapper { justify-content: space-between; }
	#menuwrapper { width: auto; }

	#menuwrapper { display: block; }
	#mobile_select { display: none!important; }

	#logo img { width: 60%; }

	#left-col {flex-basis: 70%;}
	#right-col {
		flex-basis: 30%;
		margin-top: -3em;
	}

	#camera_wrap_109 .cameraContent  { width: 70%; }

	dl.fields-container { 
		width: 100%;
		margin: 0;
	}	

		
	.property-list .mod-list li, dl.fields-container dd.property-type { flex-basis: 30%; }

	.property-details,
	.related-properties { 
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
		
	.related-properties .newsflash {
		display: flex;
		flex-direction: row;
	}

	.showtime-default .showtime-image { width: 15% }
	
	.related-properties .property-address,
	.related-properties .property-type { flex-basis: 45%; }

	.related-properties .img-gallery { flex-basis: 80%; }

	.related-properties .property-title { font-size: 1.3rem; }

	.related-properties .bedrooms, 
	.related-properties .bathrooms, 
	.related-properties .cars { font-size: 1.2rem; }

	.property-details dd.property-address,
	.property-details dd.property-type,
	.property-details dl.fields-container dd.bedrooms, 
	.property-details dl.fields-container dd.bathrooms, 
	.property-details dl.fields-container dd.cars,
	.property-details dl.fields-container dd.rent-price { flex-basis: 10%; }

	.property-details dl.fields-container dd.rent-price {
		padding: 0;
		margin: 0;
	}

}

/* iPad Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (min-resolution: 1dppx) {



	#camera_wrap_109 .camera_caption > div div.camera_caption_title {font-size: 1.5em;}

	#left-col {flex-basis: 70%!important;}
	#right-col {
		flex-basis: 25%!important;
		margin-top: 0!important;
		margin-left: 1em;
	}

	.property-list .mod-list li, dl.fields-container dd.property-type { flex-basis: 25%; }


	dl.fields-container dd.bedrooms,
	dl.fields-container dd.bathrooms,
	dl.fields-container dd.cars { flex-basis: 29%; }

	dl.fields-container dd.rent-price {
		flex-basis: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.img-gallery .showtime-image {
		flex-direction: row;
		flex-wrap: wrap;
		flex-basis: 30%;
	}

	#main .row { padding: 0 .5rem 0 .5rem; }

	#main .columns { padding-left: 0.9375rem; }

	#main .columns p,
	#main .columns a,
	#trading { padding: 0 .9375rem 0 .9375rem; }

	#main .columns #social a { padding: 0; }

	#main .medium-8 { width: 75%; }

	#menu-wrapper {width: 80%;}

	#camera_wrap_109 .camera_caption_desc a.button,
	.related-properties dd.property-title,
	#camera_wrap_95 .camera_caption > div div.camera_caption_desc { font-size: 1em!important; }

	.related-properties dd.icon { font-size: .7rem;}

	dl.fields-container dd.property-type,
	.property-details dd.property-address,
	.property-details dd.property-type,
	.related-properties dd.property-address,
	.related-properties dd.property-type { flex-basis: 50%!important; }


	#camera_wrap_95 .camera_caption > div div.camera_caption_title {font-size: 1.2em!important;}

}




